In [105]:
from importlib import reload

import generate_features as gf
import train_model as tm
import score_model as sm
import evaluate_model as em

reload(gf)
reload(tm)
reload(sm)
reload(em)

In [94]:
import pandas as pd 
a= pd.read_csv('bank.csv')

In [111]:
a.head()
print(sum(a.y=='yes'))
print(sum(a.y=='no'))
df_minority = a[a.y == 'yes']
len(df_minority)
df_minority.columns

521
4000

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [112]:
import xgboost
methods = dict(xgboost=xgboost.XGBClassifier)
method = xgboost
parameters = {'max_depth':3, 'n_estimators':10,
                          "learning_rate":0.01}
  
    # Instantiates a model class for the training `method` provided
model = methods[method](**parameters)

NameError: name 'max_depth' is not defined

In [30]:
## test for generate_features
c1 = ['Unnamed: 0', 'duration']
c2 = ['job']
df1 = a.copy(deep=True)
df2 = gf.drop_irrelevant_predictors(df1,c1) 
df3 = gf.additional_processing(df2, c2)
df4 = gf.balance_class(df3)
# df5 = gf.reduce_no_of_class(df4)
# df = gf.convert_types(df5)

In [31]:
hold1 = df4.age

In [32]:
df5 = gf.reduce_no_of_class(df4)
hold2 = df5.age

In [48]:
# c1 = df1['age'].quantile(1/3)
# c2 = df1['age'].quantile(2/3)
# print(str(c1)+" "+str(c2))
# low: < 35--1
# medium: 35<=x<=45--0
# high: >45--2
df4.head(2)
set(df4.previous)
df4.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'campaign', 'pdays', 'previous',
       'poutcome', 'y'],
      dtype='object')

In [35]:
temp = pd.DataFrame(
    {'1st': hold1,
     '2nd': hold2,
     '3rd': hold3
    })
temp

      1st     2nd  3rd
1364   34  medium    0
3196   46  medium    0
2625   42  medium    0
4427   42  medium    0
4320   22     low    1
2368   35  medium    0
971    44  medium    0
3767   55    high    2
830    42  medium    0
4351   39  medium    0
3633   36  medium    0
546    47    high    2
3856   42  medium    0
964    53    high    2
2952   37  medium    0
1443   39  medium    0
173    32     low    1
1970   35  medium    0
1646   38  medium    0
537    26     low    1
3212   41  medium    0
3904   32     low    1
2344   37  medium    0
656    58    high    2
3828   31     low    1
3114   28     low    1
228    36  medium    0
3441   31     low    1
4230   37  medium    0
2531   67    high    2
...   ...     ...  ...
4250   32     low    1
4256   34  medium    0
4262   59    high    2
4263   25     low    1
4275   53    high    2
4281   52    high    2
4282   34  medium    0
4300   59    high    2
4328   49    high    2
4337   73    high    2
4342   50    high    2
4350   29     low    1
4364   63    high    2
4366   59    high    2
4388   83    high    2
4392   50    high    2
4402   41  medium    0
4407   45  medium    0
4416   32     low    1
4423   45  medium    0
4433   40  medium    0
4447   49    high    2
4458   29     low    1
4465   38  medium    0
4484   38  medium    0
4494   26     low    1
4503   60    high    2
4504   42  medium    0
4505   32     low    1
4511   46  medium    0

[1042 rows x 3 columns]

In [33]:
df = gf.convert_types(df5)
hold3 = df.age
set(hold3)

{0, 1, 2}

In [7]:
df.head()
#df.columns
df.describe()
df.columns
set(df.month)

{0, 1, 2}

In [6]:
import xgboost
import pickle


method = 'xgboost'
max_depth = 3
n_estimators = 300 
learning_rate = 0.05
save_tmo = 'bank-prediction.pkl'

kwargs = {"get_target":{'target':'y'}, 
          'split_data': {'train_size':0.7, 'test_size':0.3, 'random_state': 42,
                         'save_split_prefix': 'bank'},
          'choose_features':{'features_to_use': ['age', 'job', 'marital', 'education', 
                                                 'default', 'balance', 'housing','loan', 
                                                 'contact', 'day', 'month', 'campaign', 'pdays', 'previous','poutcome']}}

tm.train_model(df, max_depth, n_estimators, learning_rate, method, save_tmo, **kwargs)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=300,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [7]:
## score model
path_to_tmo = 'bank-prediction.pkl'
cutoff = 0.5
save_scores = 'bank-test-scores.csv'
features = ['age', 'job', 'marital', 'education', 'default', 'balance', 
            'housing','loan', 'contact', 'day', 'month', 'campaign', 
            'pdays', 'previous','poutcome']


    
kwargs = {"choose_features": {'features_to_use': ['age', 'job', 'marital', 'education', 
                                                  'default', 'balance', 'housing','loan', 
                                                  'contact', 'day', 'month', 'campaign', 'pdays', 'previous','poutcome']}}



y_predicted = sm.score_model(df, path_to_tmo, cutoff, save_scores, **kwargs)

In [49]:
x_test = pd.read_csv('bank-test-features.csv')
x_train = pd.read_csv('bank-train-features.csv')
y_train = pd.read_csv('bank-train-targets.csv')
y_test = pd.read_csv('bank-test-targets.csv')
y_predicted = pd.read_csv('bank-test-scores.csv')


print(len(x_test))
print(len(y_test))
print(len(x_train))
print(len(y_train))
print(len(y_predicted))

313
313
729
729
1042

In [15]:
## evaluate_model

## scrore_model.py: when running_score, it first splits the data and then use score_model
y_predicted = sm.score_model(x_test, path_to_tmo, cutoff, **kwargs)
#y_predicted = y_predicted.iloc[0:313]
kwargs = {'metrics': ['auc', 'accuracy', 'f1_score']}
save_evaluation = 'model-evaluation.csv'
confusion_matrix = em.evaluate_model(y_test, y_predicted, save_evaluation, **kwargs)

                  Predicted: Negative  Predicted: Positive
Actual: Negative                  110                   57
Actual: Positive                   53                   93


        auc  accuracy        f1
0  0.894529  0.848562  0.828378

In [56]:
x_test.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'campaign', 'pdays', 'previous',
       'poutcome'],
      dtype='object')

In [86]:
import pickle
import pandas as pd
import numpy as np
row = [0,1,2,3,1,0,1,2,3,1,0,1,0,1,0]
xgb = pickle.load(open("bank-prediction.pkl","rb"))